@(form: Form[CmsKeyboardController.KeyboardAddConfig], isNew: Boolean)
@import models.PageGroupConstants
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="ResearchIME Project">
        <title>ResearchIME</title>
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("favicon-32x32.png")">
        <link rel="manifest" href="@routes.Assets.versioned("manifest.json")">
        <link href="@routes.Assets.versioned("css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/mdb.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/cms.css")" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-dark default-color-dark">
                <a class="hidden-sm-up navbar-brand" style="float: none;" href="@routes.CmsDashboardController.index">
                    ResearchIME</a>
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseMenu">
                    <i class="fa fa-bars"></i>
                </button>

                @partials.header(PageGroupConstants.KEYBOARDS)
            </nav>
        </header>

        <main>
            <div class="container">
                @if(flash.contains("success")) {
                    <div class="card card-success">
                        <div class="card-block">
                            <h4 class="m-0 white-text">@flash.get("success")</h4>
                        </div>
                    </div>
                    <hr>
                }
                @if(flash.contains("error")) {
                    <div class="card card-danger">
                        <div class="card-block">
                            <h4 class="m-0 white-text">@flash.get("error")</h4>
                        </div>
                    </div>
                    <hr>
                }

                @helper.form(routes.CmsKeyboardController.updateKeyboard()) {

                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-block">
                                    <fieldset class="form-group text-xs-right">
                                        <input id="handPromptCheckBox" type="checkbox" name="showHandPrompt" @if(form.data.get("showHandPrompt")){checked}>
                                        <label class="h6 mr-1 noselect" for="handPromptCheckBox">Ask for hand posture</label>
                                        <input id="trackingCheckBox" type="checkbox" name="trackingEnabled" @if(form.data.get("trackingEnabled")){checked}>
                                        <label class="h6 noselect" for="trackingCheckBox">Tracking</label>
                                        <input id="trackingCheckBox" type="checkbox" name="anonymizeInputEvents" @if(form.data.get("anonymizeInputEvents")){checked}>
                                        <label class="h6 noselect" for="trackingCheckBox">Anonymize Input Events</label>
                                    </fieldset>
                                    <div class="md-form">
                                        <input type="text" id="formName" class="form-control" name="keyboardName" value="@form.data.get("keyboardName")">
                                        <label for="formName">Keyboard name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4-responsive">Message (optional)</h4>
                    <hr>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-block">
                                    <div class="md-form">
                                        <input type="text" id="formInfoTitle" class="form-control" name="infoTitle" value="@form.data.get("infoTitle")">
                                        <label for="formInfoTitle">Titel</label>
                                    </div>
                                    <div class="md-form">
                                        <textarea type="text" id="formInfoMsg" class="md-textarea" name="infoMessage" value="@form.data.get("infoMessage")">@form.data.get("infoMessage")</textarea>
                                        <label for="formInfoMsg">Message</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group pull-right">
                        <button type="submit" class="ml-1 btn btn-success">Save</button>
                    </div>
                    <h4 class="h4-responsive">Layout-JSON</h4>
                    <hr>

                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-block">
                                    <div class="md-form">
                                        <textarea type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="layoutJson" class="md-textarea codeTextArea">@form.data.get("layoutJson")</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mb-3 pull-right">
                        @if(! isNew){
                            <button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">
                                Löschen</button>
                        }
                        <button type="submit" class="ml-1 btn btn-success">Save</button>
                    </div>
                    <input type="hidden" id="formId" class="form-control" name="keyboardId" value="@form.data.get("keyboardId")">
                }
            </div>

            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Delete keyboard</h4>
                        </div>
                        <div class="modal-body">
                            <h3 class="mb-1">Do you really want to delete this keyboard?</h3>
                            @helper.form(routes.CmsKeyboardController.deleteKeyboard) {
                                <fieldset>
                                    <input type="hidden" name="keyboardId" value="@form.data.get("keyboardId")">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/tether.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/mdb.min.js")"></script>
    </body>

</html>