@(message: String)
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="ResearchIME Project">
        <title>ResearchIME</title>
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("favicon-32x32.png")">
        <link rel="manifest" href="@routes.Assets.versioned("manifest.json")">
        <link href="@routes.Assets.versioned("css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/mdb.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/cms.css")" rel="stylesheet">
    </head>

    <body class="default-color-dark">
        <main>

            <div class="container">
                <div class="row">
                    <div class="card card-danger col-md-5 centered z-depth-3">
                        <div class="card-block">
                            <h4 class="centered text-white text-lg-center">@message</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/tether.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/mdb.min.js")"></script>
    </body>

</html>